@import "./../flexbox.less";
@import './../box-shadow.less';

body { margin: 0; }

// todo: hide the nav if on mobile: www.html5rocks.com/en/mobile/fullscreen/
.build-monitor.dashboard {
  height: 100vh;

  .flex-display();
  .flex-direction(column);
  .justify-content(space-between);

  margin: auto;

  &>header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    flex-shrink: 0;
    padding: var(--section-padding);

    .home-link {
      display: block;
      background: url('http://localhost:8080/jenkins/static/f6bb438c/images/svgs/logo.svg') no-repeat;
      background-size: contain;
      height: 40px;
      text-indent: -100%;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
    }

    h1 {
      font-size: 2.25em;

      a {
        font-weight: 600;
      }
    }

    .jenkins-button {
      aspect-ratio: 1;
      color: white !important;
    }
  }

  &>.main {
    display: block;

    .flex(1 1 0px);

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .flex-display();
    .flex-direction(column);
    .justify-content(space-between);

    padding: var(--section-padding);
    padding-top: 0;
  }

  &>footer {
    flex-shrink: 0;
  }
}

.build-monitor .main.empty {
  .justify-content(space-around);

  padding:0 10%;
  text-align: center;

  div.notice {
    .box-shadow(2px 2px 1px rgba(0,0,0,0.5));

    border-radius: 10px;
    background:    rgba(0,0,0,0.5);

    padding: 2em;

    p {
      margin: 0;
      color:  #ddd;
    }
  }
}

:root {
  --background: rgb(20 20 20);
  --text-color: white;
  color-scheme: dark;
}